@using Library.Library.Enums
@model Library.Library.Entities.Requests.BookRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title text-center">
    <span class="menu-toggle">
        <span class="icon-box-toggle">
            <span>
                <i class="fal fa-horizontal-rule icon-line-top"></i>
                <i class="fal fa-horizontal-rule icon-line-center"></i>
                <i class="fal fa-horizontal-rule icon-line-bottom"></i>
            </span>
        </span>
    </span>
    <div class="title-wrap">
        <h1 class="title">Create Book</h1>
    </div>
</div>

<div class="page-content-inner">

    <!-- Form create -->
    <form  asp-action="Create" method="post" enctype="multipart/form-data" class="form-layout">
        <div class="form-outer">
            <div class="form-header">
                <div class="form-header-inner">
                    <div class="left">
                        <h3>Create Book</h3>
                    </div>
                    <div class="right">
                        <div class="buttons">
                            <a asp-action="Index" class="button v-button is-dark-outline">
                                <div class="icon">
                                    <i class="far fa-long-arrow-alt-left"></i>
                                </div>
                                <span>Cancel</span>
                            </a>
                            <input type="submit" value="Create" class="button v-button is-primary">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-body">
                <div class="form-fieldset">
                    <div class="fieldset-heading">
                        <h4>Book Info</h4>
                        <p>Information of the book</p>
                    </div>
                    <div class="columns is-multiline">
                        <div class="column is-6">
                            <div class="field">
                                <label>Mã Sách</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="Id">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:user" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Nhà Xuất Bản</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="PublishingCompany">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:smartphone" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><path d="M12 18h.01"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Tên Sách</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="Name">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Chọn Ảnh Bìa</label>
                                <div class="control has-icon">
                                    <input type="file" value=""  asp-for="Thumbnail" class="choose-file">
                                    <span><Label for="choose-file"></Label></span>
                                </div>
                            </div>
                        </div>
                        <div class="column is-12">
                            <div class="field">
                                <label>Tác Giả</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="Author">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Ngày Xuất Bản ( Month - Day - Year )</label>
                                <div class="control has-icon">
                                    <input type="text" value="" class="input date-of-birth" asp-for="PublicationDate">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:calendar" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><path d="M16 2v4"></path><path d="M8 2v4"></path><path d="M3 10h18"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-6">
                            <div class="field">
                                <label>Số Lượng</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="Amount">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Số Trang</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="PageNumber">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Số Ngày Cho Phép Mượn</label>
                                <div class="control has-icon">
                                    <input type="text" class="input" asp-for="DateCanBorrow">
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Mã Thư Viện</label>
                                <div class="control has-icon">
                                    <select asp-for="IdLibraryCode" class="input" asp-items="ViewBag.IdLibraryCode"></select>
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-6">
                            <div class="field">
                                <label>Hạng Mượn</label>
                                <div class="control has-icon">
                                    <select asp-for="Rank" class="input">
                                        @{
                                            foreach (var rank in (RankLibrary[])Enum.GetValues(typeof(RankLibrary)))
                                            {
                                                <option value="@rank">@rank</option>
                                            }
                                        }
                                    </select>
                                    <div class="form-icon" data-v-aad2da70="">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:mail" data-v-aad2da70=""><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><path d="M22 6l-10 7L2 6"></path></g></svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--  -->
    <!--  -->
</div>


@*<h1>Create</h1>

    <h4>Book</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Thumbnail" class="control-label"></label>
                    <input asp-for="Thumbnail" class="form-control" />
                    <span asp-validation-for="Thumbnail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublishingCompany" class="control-label"></label>
                    <input asp-for="PublishingCompany" class="form-control" />
                    <span asp-validation-for="PublishingCompany" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PublicationDate" class="control-label"></label>
                    <input asp-for="PublicationDate" class="form-control" />
                    <span asp-validation-for="PublicationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Author" class="control-label"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PageNumber" class="control-label"></label>
                    <input asp-for="PageNumber" class="form-control" />
                    <span asp-validation-for="PageNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateCanBorrow" class="control-label"></label>
                    <input asp-for="DateCanBorrow" class="form-control" />
                    <span asp-validation-for="DateCanBorrow" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Rank" class="control-label"></label>
                    <select asp-for="Rank" class="form-control">
                        @{
                            foreach (var rank in (RankLibrary[])Enum.GetValues(typeof(RankLibrary)))
                            {
                                <option value="@rank">@rank</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Rank" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdLibraryCode" class="control-label"></label>
                    <select asp-for="IdLibraryCode" class ="form-control" asp-items="ViewBag.IdLibraryCode"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
