@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Do An 2</h1>
    <h2 class="display-4">Website create by Vo Thanh Thuan and Nguyen Ngoc Son</h2>
</div>
