.isprimary{
    color: #10cb8a !important;
}
.is-gray{
    color: #a2a5b9 !important;
}
.i-checked {
    background-color: #10cb8a !important;
}
    .i-checked::after {
        background: #fff !important;
        transform: translate3d(22px, 2px, 0) !important;
    }
    



.page-title {
    position: relative;
    height: 6rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 8;
}

    .page-title .menu-toggle {
        font-size: 2rem;
        color: #666;
        text-align: center;
        background: transparent;
        display: block;
        width: 2.6rem;
        height: 2.6rem;
        cursor: pointer;
        padding: 0;
        position: relative;
    }

        .page-title .menu-toggle .icon-box-toggle {
            background: transparent;
            position: relative;
            display: block;
            width: 3rem;
            height: 3rem;
        }

            .page-title .menu-toggle .icon-box-toggle .icon-line-top {
                position: absolute;
                width: 2rem;
                height: .2rem;
                background: #10cb8a;
                margin: -.3rem 0 0 -1rem;
                left: 50%;
                top: .6rem;
            }

            .page-title .menu-toggle .icon-box-toggle .icon-line-center {
                position: absolute;
                width: 12px;
                height: 2px;
                background: #10cb8a;
                margin: -1px 0 0 -10px;
                left: 50%;
                top: 12px;
            }

            .page-title .menu-toggle .icon-box-toggle .icon-line-bottom {
                position: absolute;
                width: 2rem;
                height: .2rem;
                background: #10cb8a;
                margin: .2rem 0 0 -1rem;
                left: 50%;
                top: 1.7rem;
            }

    .page-title .title-wrap {
        margin-left: 1.6rem;
        font-family: "Montserrat", sans-serif;
    }

        .page-title .title-wrap .title {
            text-align: left;
            margin-bottom: 0;
            color: #a9a9b2 !important;
            font-size: 2.1rem;
            font-weight: 600;
            line-height: 1.125;
        }

.text-center {
    text-align: center !important;
}

.page-content-inner {
    padding: 0;
}

    .page-content-inner .list-flex-toolbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 2rem;
    }

        .page-content-inner .list-flex-toolbar .search {
            margin-bottom: 0;
        }

            .page-content-inner .list-flex-toolbar .search .control {
                position: relative;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                font-size: 1.6rem;
                clear: both;
                margin-right: 10px;
                position: relative;
                text-align: inherit;
            }

                .page-content-inner .list-flex-toolbar .search .control .input {
                    height: 38px;
                    padding-left: 38px;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                    color: #a9a9b2;
                    border: none;
                    border-radius: 3px;
                    background-color: #27272a;
                }

                    .page-content-inner .list-flex-toolbar .search .control .input:focus ~ .form-icon {
                        -webkit-transition: .3s ease-in;
                        transition: .3s ease-in;
                        color: #10cb8a;
                    }

                .page-content-inner .list-flex-toolbar .search .control .form-icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 38px;
                    width: 38px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    color: #9397ae;
                }

        .page-content-inner .list-flex-toolbar .button {
            margin-left: auto;
            margin-bottom: 0;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }

            .page-content-inner .list-flex-toolbar .button .is-elevated {
                -webkit-box-shadow: 0 14px 26px -12px #10cb8a6b, 0 4px 23px 0 #0000001f, 0 8px 10px -5px #10cb8a33 !important;
                box-shadow: 0 14px 26px -12px #10cb8a6b, 0 4px 23px 0 #0000001f, 0 8px 10px -5px #10cb8a33 !important;
            }

            .page-content-inner .list-flex-toolbar .button .v-button {
                padding: 8px 22px;
                height: 38px;
                line-height: 1.1;
                font-size: 1.3rem;
                font-family: "Roboto", sans-serif;
                -webkit-transition: all .3s;
                transition: all .3s;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

                .page-content-inner .list-flex-toolbar .button .v-button .icon {
                    margin: 0 .6rem 0 -.765rem;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                }

                .page-content-inner .list-flex-toolbar .button .v-button i {
                    font-size: 1.32rem;
                    font-weight: 900 !important;
                }

            .page-content-inner .list-flex-toolbar .button .is-primary {
                border-color: #10cb8a;
                background: #10cb8a;
                color: #fff;
                border-radius: 3px;
                font-weight: 400;
            }

                .page-content-inner .list-flex-toolbar .button .is-primary :hover {
                    color: #fff;
                }

    .page-content-inner .flex-table .is-grow-2 {
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        flex-grow: 2;
    }

    .page-content-inner .flex-table .call-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    .page-content-inner .flex-table-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 10px;
    }

        .page-content-inner .flex-table-header span {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
            flex: 1 1 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 500;
            color: #999999;
            text-transform: uppercase;
            padding: 0 10px 10px;
        }

    .page-content-inner .flex-table-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;
        min-height: 60px;
        background: #313135;
        border-radius: 8px;
        border: 1px solid #3f3f44;
        padding: 8px;
        margin-bottom: 6px;
    }

        .page-content-inner .flex-table-item .is-grow2 {
            -webkit-box-flex: 2 !important;
            -ms-flex-positive: 2 !important;
            flex-grow: 2 !important;
        }

        .page-content-inner .flex-table-item .flex-table-cell {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
            flex: 1 1 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            padding: 0 5px;
            font-family: 'Roboto',sans-serif;
        }

            .page-content-inner .flex-table-item .flex-table-cell .is-avatar {
                position: relative;
                display: inline-block;
                vertical-align: bottom;
            }

                .page-content-inner .flex-table-item .flex-table-cell .is-avatar .avatar {
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    display: block;
                    border-radius: 100%;
                }

            .page-content-inner .flex-table-item .flex-table-cell .is-medium {
                max-width: 50px;
                min-width: 50px;
                line-height: 1.2;
            }

            .page-content-inner .flex-table-item .flex-table-cell .item-name {
                font-weight: 600;
                font-family: "Montserrat", sans-serif;
                font-size: 1.3rem;
            }

            .page-content-inner .flex-table-item .flex-table-cell .item-meta {
                color: #a2a5b9;
                margin-left: 0 !important;
                margin-top: .2rem;
            }

            .page-content-inner .flex-table-item .flex-table-cell .light-text {
                color: #a2a5b9;
                font-family: 'Roboto', sans-serif;
                font-size: 1.3rem;
            }

            .page-content-inner .flex-table-item .flex-table-cell .tag {
                margin-bottom: 0 !important;
                line-height: 1.8;
                height: 1.8em;
                border-radius: 9px;
            }

                .page-content-inner .flex-table-item .flex-table-cell .tag:not(body).is-success {
                    padding-left: 1em;
                    padding-right: 1em;
                    background-color: #10cb8a;
                    color: #fff;
                }

            .page-content-inner .flex-table-item .flex-table-cell .dropdown {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                position: relative;
                vertical-align: top;
                border-radius: 100%;
            }

                .page-content-inner .flex-table-item .flex-table-cell .dropdown .is-trigger[data-v-25f969c0] {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    height: 3rem;
                    width: 3rem;
                    border: none;
                    outline: none;
                    background: transparent;
                    cursor: pointer;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                }

                    .page-content-inner .flex-table-item .flex-table-cell .dropdown .is-trigger[data-v-25f969c0] span[data-v-25f969c0] {
                        height: 2rem;
                        width: 2rem;
                    }

                    .page-content-inner .flex-table-item .flex-table-cell .dropdown .is-trigger[data-v-25f969c0] svg {
                        height: 2rem;
                        width: 2rem;
                        color: #a2a5b9;
                        stroke-width: .16rem;
                        -webkit-transition: stroke .3s;
                        transition: stroke .3s;
                    }

            .page-content-inner .flex-table-item .flex-table-cell .is-right:hover {
                border-radius: 100%;
                background: #27272a;
            }

            .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] {
                -webkit-box-shadow: 0 5px 16px #0000000d;
                box-shadow: 0 5px 16px #0000000d;
                border-color: #ededed;
                padding-top: 0;
                min-width: 240px;
                padding-bottom: 0;
                text-align: left;
                position: absolute;
                top: 92%;
                right: 5%;
                z-index: 20;
                display: none;
                border-radius: 3px;
            }

                .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-divider-flex {
                    border: none;
                    display: block;
                    height: .1rem;
                    background: #2f2f32;
                }

                .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] {
                    background: #222225 !important;
                    border-color: #36363a;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                }

                    .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] :hover {
                        background-color: #2f2f32;
                    }

                        .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] :hover .icon-flex > i {
                            color: #05d69e;
                        }

                    .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] .is-media-flex {
                        padding-left: .2rem;
                        padding: .5rem 1rem;
                        font-size: .95rem;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        color: #a2a5b9;
                        font-family: 'Roboto',sans-serif;
                    }

                        .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] .is-media-flex .icon-flex {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            height: 28px;
                            width: 28px;
                            font-size: 16px;
                        }

                        .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] .is-media-flex .meta-flex {
                            margin-left: 1rem;
                        }

                        .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] .is-media-flex span {
                            display: block;
                            line-height: 1.5;
                            color: #a2a5b9;
                            font-family: "Roboto", sans-serif;
                        }

                            .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] .is-media-flex span:first-child {
                                font-size: 1.3rem;
                                font-weight: 600;
                            }

                            .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] .is-media-flex span:nth-child(2) {
                                font-size: 1.2rem;
                            }

                            .page-content-inner .flex-table-item .flex-table-cell .dropdown-menu-flex[data-v-25f969c0] .dropdown-content-flex[data-v-25f969c0] .is-media-flex span:hover {
                                color: #a2a5b9;
                            }

        .page-content-inner .flex-table-item .is-media {
            padding-left: 0;
        }

            .page-content-inner .flex-table-item .is-media > div span:not(.avatar) {
                display: block;
                margin-left: 10px;
            }

            .page-content-inner .flex-table-item .is-media > div {
                line-height: 1.2;
            }
/*# sourceMappingURL=index.css.map */

/*Form Create, edit, delete, detels*/
h3 {
    font-size: 1.7rem !important;
    font-weight: 600 !important;
    line-height: 1.3;
    font-family: "Montserrat", sans-serif;
}

.is-stuck {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 8rem;
    width: calc(100% - 8rem);
    z-index: 14;
    padding-right: 80px;
    border-left: .1rem solid #404045;
    background: #222225;
}

.form-layout {
    max-width: 74rem;
    margin: 0 auto;
}

    .form-layout .form-outer {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: inline-block;
        width: 100%;
        padding: .2rem;
        background-color: #313135;
        border-radius: .6rem;
        border: .1rem solid #404045;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        padding: 0;
    }

        .form-layout .form-outer .form-header {
            padding: 1.2rem 2rem;
            border-color: #404045;
            border-bottom: .1rem solid #404045;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
        }

        .form-layout .form-outer .form-header-inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

            .form-layout .form-outer .form-header-inner .left {
                color: #a9a9b2;
            }

            .form-layout .form-outer .form-header-inner .right .buttons {
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -webkit-box-pack: start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                margin-bottom: -.7rem;
            }

                .form-layout .form-outer .form-header-inner .right .buttons .button {
                    cursor: pointer;
                    -webkit-appearance: none;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                    display: -webkit-inline-box;
                    display: -ms-inline-flexbox;
                    display: inline-flex;
                    position: relative;
                    vertical-align: top;
                    margin-bottom: .7rem;
                }

                .form-layout .form-outer .form-header-inner .right .buttons .v-button {
                    padding: 8px 22px 8px 22px;
                    height: 38px;
                    line-height: 1.1;
                    font-size: 1.35rem;
                    font-family: "Roboto", sans-serif;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                }

                .form-layout .form-outer .form-header-inner .right .buttons .is-primary {
                    background: #3b3b40;
                    border-color: #404045;
                    color: #a9a9b2;
                }

                    .form-layout .form-outer .form-header-inner .right .buttons .is-primary:hover {
                        border-color: #10cb8a;
                        color: #10cb8a;
                    }

                .form-layout .form-outer .form-header-inner .right .buttons .is-dark-outline {
                    color: #a9a9b2;
                    background: #3b3b40;
                    border-color: #404045;
                }

                    .form-layout .form-outer .form-header-inner .right .buttons .is-dark-outline:hover {
                        border-color: #10cb8a;
                        color: #10cb8a;
                    }

                        .form-layout .form-outer .form-header-inner .right .buttons .is-dark-outline:hover i {
                            color: #10cb8a;
                        }

                    .form-layout .form-outer .form-header-inner .right .buttons .is-dark-outline .icon {
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        display: -webkit-inline-box;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        margin-left: calc(-0.5em - 1px);
                        margin-right: 0.25em;
                    }

                        .form-layout .form-outer .form-header-inner .right .buttons .is-dark-outline .icon i {
                            font-size: 1.4rem;
                        }

                    .form-layout .form-outer .form-header-inner .right .buttons .is-dark-outline span {
                        font-style: inherit;
                        font-weight: inherit;
                    }

                .form-layout .form-outer .form-header-inner .right .buttons .button:not(:last-child) {
                    margin-right: .7rem;
                }

        .form-layout .form-outer .form-body {
            padding: 2rem 4rem 4rem 4rem;
        }

            .form-layout .form-outer .form-body .form-fieldset {
                padding: 2rem 0;
                max-width: 48rem;
                margin: 0 auto;
            }

                .form-layout .form-outer .form-body .form-fieldset .fieldset-heading {
                    margin-bottom: 2rem;
                }

                    .form-layout .form-outer .form-body .form-fieldset .fieldset-heading h4 {
                        font-weight: bolder;
                        font-size: 1.6rem;
                        color: #a9a9b2;
                        font-family: "Montserrat", sans-serif;
                    }

                    .form-layout .form-outer .form-body .form-fieldset .fieldset-heading p {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }

                .form-layout .form-outer .form-body .form-fieldset .columns {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    margin-left: -1.05rem;
                    margin-right: -1.05rem;
                    margin-top: -1.05rem;
                }

                    .form-layout .form-outer .form-body .form-fieldset .columns .column {
                        padding-top: .7rem;
                        padding-bottom: .7rem;
                        padding: 1.05rem;
                        display: block;
                        -ms-flex-preferred-size: 0;
                        flex-basis: 0;
                        -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        -ms-flex-negative: 1;
                        flex-shrink: 1;
                    }

                    .form-layout .form-outer .form-body .form-fieldset .columns:last-child {
                        margin-bottom: -1.05rem;
                    }

                .form-layout .form-outer .form-body .form-fieldset .is-multiline {
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                }

                    .form-layout .form-outer .form-body .form-fieldset .is-multiline .is-6 {
                        -webkit-box-flex: 0;
                        -ms-flex: none;
                        flex: none;
                        width: 50%;
                    }

                    .form-layout .form-outer .form-body .form-fieldset .is-multiline .is-12 {
                        -webkit-box-flex: 0;
                        -ms-flex: none;
                        flex: none;
                        width: 100%;
                    }

                .form-layout .form-outer .form-body .form-fieldset .field {
                    font-family: "Roboto", sans-serif;
                    font-size: 1.26rem;
                    color: #a2a5b9 !important;
                }

                    .form-layout .form-outer .form-body .form-fieldset .field .control {
                        -webkit-box-sizing: border-box;
                        box-sizing: border-box;
                        clear: both;
                        font-size: 1.6rem;
                        position: relative;
                        text-align: inherit;
                        margin-top: .5rem;
                    }

                        .form-layout .form-outer .form-body .form-fieldset .field .control .input {
                            width: 100%;
                            max-width: 100%;
                            height: 38px;
                            padding: .6rem .95rem .6rem 3.8rem;
                            -webkit-transition: all .3s;
                            transition: all .3s;
                            color: #a9a9b2;
                            border: none;
                            border-radius: .3rem;
                            background-color: #27272a;
                        }

                        .form-layout .form-outer .form-body .form-fieldset .field .control .choose-file {
                            width: 100%;
                            height: 38px;
                            border: none;
                            border-radius: .3rem;
                            padding: .8rem .95rem .6rem 1rem;
                            background-color: #27272a;
                        }

                        .form-layout .form-outer .form-body .form-fieldset .field .control .radio-sex {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: space-evenly;
                            -ms-flex-pack: space-evenly;
                            justify-content: space-evenly;
                            padding: 0 !important;
                        }

                            .form-layout .form-outer .form-body .form-fieldset .field .control .radio-sex i {
                                font-size: 1.8rem;
                            }

                            .form-layout .form-outer .form-body .form-fieldset .field .control .radio-sex span {
                                font-size: 1.4rem;
                            }

                        .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block {
                            padding: 1rem 0;
                            padding-left: 1rem;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                        }

                            .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch {
                                position: relative;
                                display: inline-block;
                                cursor: pointer;
                                -webkit-tap-highlight-color: transparent;
                            }

                                .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch .is-switch {
                                    position: absolute;
                                    opacity: 0;
                                    pointer-events: none;
                                    vertical-align: baseline;
                                }

                                .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch i {
                                    position: relative;
                                    display: inline-block;
                                    width: 4.6rem;
                                    height: 2.6rem;
                                    background-color: #222225;
                                    border-radius: 2.3rem;
                                    vertical-align: text-bottom;
                                    -webkit-transition: all 0.3s linear;
                                    transition: all 0.3s linear;
                                }

                                    .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch i::before {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        width: 4.2rem;
                                        height: 2.2rem;
                                        border-radius: 1.1rem;
                                        -webkit-transform: translate3d(0.2rem, 2px, 0) scale3d(1, 1, 1);
                                        transform: translate3d(0.2rem, 2px, 0) scale3d(1, 1, 1);
                                        -webkit-transition: all 0.25s linear;
                                        transition: all 0.25s linear;
                                    }

                                    .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch i::after {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        width: 22px;
                                        height: 22px;
                                        background-color: #58585f;
                                        border-radius: 11px;
                                        -webkit-transform: translate3d(2px, 2px, 0);
                                        transform: translate3d(2px, 2px, 0);
                                        -webkit-transition: all 0.2s ease-in-out;
                                        transition: all 0.2s ease-in-out;
                                    }

                                .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch:active i::after {
                                    width: 2.8rem;
                                    -webkit-transform: translate3d(2px, 2px, 0);
                                    transform: translate3d(2px, 2px, 0);
                                }

                                .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch:active input:checked + i::after {
                                    -webkit-transform: translate3d(16px, 2px, 0);
                                    transform: translate3d(16px, 2px, 0);
                                }

                                .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch input:checked + i {
                                    background-color: #10cb8a !important;
                                }

                                    .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch input:checked + i::before {
                                        -webkit-transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0) !important;
                                        transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0) !important;
                                    }

                                    .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .form-switch input:checked + i::after {
                                        background: #fff !important;
                                        -webkit-transform: translate3d(22px, 2px, 0);
                                        transform: translate3d(22px, 2px, 0);
                                    }

                            .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .text {
                                margin-left: 6px;
                                font-weight: 600;
                                font-size: 1.2rem;
                            }

                                .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .text span:nth-child(1) {
                                    color: #a2a5b9;
                                }

                                .form-layout .form-outer .form-body .form-fieldset .field .control .switch-block .text span:nth-child(3) {
                                    color: #10cb8a;
                                }

                        .form-layout .form-outer .form-body .form-fieldset .field .control .input:focus ~ .form-icon {
                            -webkit-transition: .3s ease-in;
                            transition: .3s ease-in;
                            color: #10cb8a;
                        }

                        .form-layout .form-outer .form-body .form-fieldset .field .control .input:focus {
                            border: .1rem solid #10cb8a;
                            -webkit-transition: .3s ease-in;
                            transition: .3s ease-in;
                        }

                        .form-layout .form-outer .form-body .form-fieldset .field .control .form-icon {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 4rem;
                            width: 4rem;
                            font-weight: 600;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            color: #9397ae;
                        }

                            .form-layout .form-outer .form-body .form-fieldset .field .control .form-icon svg {
                                font-size: 18px;
                            }
/*# sourceMappingURL=account.css.map */