@using Library.Library.Entities
@model Borrow

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .button-hint {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        white-space: nowrap;
        border-width: 1px;
        border-radius: 99px;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
        padding-bottom: calc(0.5em - 1px);
        padding-top: calc(0.5em - 1px);
        background: #27272a;
        color: #a9a9b2;
        border: 1px solid #3f3f43;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }

        .button-hint:hover {
            border-color: #10cb8a;
            color: #10cb8a;
        }

        .button-hint::after {
            border-radius: 100px !important;
            font-size: 1rem !important;
            text-transform: uppercase !important;
            line-height: 12px;
            white-space: nowrap;
            background: #383838;
            color: white;
            padding: 8px 10px;
            font-weight: 600 !important;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
            opacity: 0;
        }

        .button-hint[data-hint]::after {
            content: attr(data-hint);
            position: absolute;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: 100%;
            left: 50%;
        }

        .button-hint:hover::after {
            -webkit-transform: translateX(-50%) translateY(-8px);
            transform: translateX(-50%) translateY(-8px);
            -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
            visibility: visible;
            opacity: 1;
            background: #10cb8a;
        }

        .button-hint .icon {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 2.1rem;
            width: 2.1rem;
        }

            .button-hint .icon svg {
                height: 14px;
                width: 14px;
            }
</style>

<div class="page-content-inner">

    <div class="borrow-wrapper">
        <div class="columns">
            <div class="column is-8">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <div class="header-borrow">
                            <div class="header-image">
                                <img src="/public/reading-book.svg" alt="">
                            </div>
                            <div class="header-info">
                                @{
                                    var libCard = (LibraryCard)ViewBag.LibraryCard;
                                    <h3>Hello, @libCard.Name</h3>
                                    <p>MSSV: @libCard.MSSV</p>
                                }


                                <a class="button v-button is-outline" href="/librarycards">
                                    <span class="icon">
                                        <i class="fas fa-arrow-left"></i>
                                    </span>
                                    <span>Quay Lại</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="borrow-search">
                            <h3>Tìm Kiếm Sách</h3>
                            <div class="field">
                                <div>
                                    <div class="search">
                                        <input  id="search" type="text" class="input" placeholder="Search...">
                                        <button class="search-button">
                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:search"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><path d="M21 21l-4.35-4.35"></path></g></svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="list-book">
                            <div class="flex-table">
                                <div class="flex-table-header">
                                    <span class="flex-grow-4">Ảnh bìa</span>
                                    <span>Số lượng</span>
                                    <span class="call-end">actions</span>
                                </div>
                                <div class="flex-list-inner" id="book-search">

                                    <!--JS add element-->
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="sticky-panel fixed-child">
                    <div class="cart-widget side-section">
                        <div class="widget-toolbar">
                            <div class="left">
                                <h3 class="is-bigger">My Order</h3>
                            </div>
                            <div class="right">
                                <span class="tag is-curved">0 items</span>
                            </div>
                        </div>
                        <div class="section-placeholder">
                            <div class="placeholder-content">
                                <img class="dark-image" src="/avatar/cart-placeholder.svg" alt="">
                                <h3 class="dark-inverted">No Items</h3>
                                <p>Your cart is currently empty. Start adding products.</p>
                            </div>
                        </div>
                        <form asp-action="Create">
                            
                                <div class="cart-items has-slimscroll hidden" id="book-choose">
                                    <!--JS render-->
                                </div>

                                <div class="card-button">
                                    <div class="total">
                                        <span class="label">Số Lượng </span>
                                        <span class="quantity-book-choose">0</span>
                                    </div>
                                    <button class="button v-button btn-save" type="submit">
                                        <span>Lưu</span>
                                    </button>
                                </div>
                            
                                <div asp-validation-summary="ModelOnly" class="text-danger" hidden></div>
                                <div class="form-group" hidden>
                                    <label asp-for="Note" class="control-label"></label>
                                    <input asp-for="Note" name="Note" class="form-control" />
                                    <span asp-validation-for="Note" class="text-danger"></span>
                                </div>
                                <div class="form-group" hidden>
                                    <label asp-for="IdUser" class="control-label"></label>
                                    <input asp-for="IdUser" name="IdUser" class="form-control" value="@ViewData["Id-User"]" />
                                    <span asp-validation-for="IdUser" class="text-danger"></span>
                                </div>
                                <div class="form-group" hidden>
                                    <label asp-for="UserName" class="control-label"></label>
                                    <input asp-for="UserName" name="UserName" class="form-control" value="@ViewData["Name-User"]" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>  
                        </form>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->
</div>

@section Scripts {

    <script>

        const url = window.location.origin;

        function searchbook(content) {
            fetch(`${url}/Books/SearchApi?content=${content}`)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    console.log(data)

                    //clear html dom
                    $('#book-search').innerHTML = '';
                    //append data to html dom
                    //

                    data.forEach(function (book) {

                        $('#book-search').innerHTML += `
                                            
                                                <div class="flex-table-cell" hidden>
                                                    <span class="light-text">${book.id}</span>
                                                </div>
                                                <div class="flex-table-item">
                                                    <div class="flex-table-cell is-media is-grow-lg">
                                                        <div class="is-avatar is-medium">
                                                            <img class="medium" src="${book.thumbnail}" alt="">
                                                        </div>
                                                        <div>
                                                            <span class="item-name">${book.name}</span>
                                                            <span class="item-meta text-name">
                                                                <span>Tác giả: ${book.author}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="flex-table-cell">
                                                        <span class="light-text"> ${book.amount}</span>
                                                    </div>
                                                    <div class="" hidden>
                                                        <span class="light-text">${book.idlibrarycode}</span>
                                                    </div>
                                                    <div class="flex-table-cell cell-end">
                                                        <div>
                                                            <button type="button" class="button-hint hint--bubble add-book-borrow-search" data-hint="Thêm" value="${book.id}" data-quantity="${book.amount}" data-thumnail="${book.thumbnail}" data-bookname="${book.name}" data-author="${book.author}">
                                                                <span class="icon">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--feather" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" data-icon="feather:bookmark"><g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M19 21l-7-5l-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></g></svg>
                                                                </span>
                                                            </button>
                                                         </div>
                                                        </div>
                                                    </div>
                                                
                                                                 `;
                        $$('.add-book-borrow-search').forEach(function (button) {
                            button.addEventListener('click',
                                function () {
                                    $('.section-placeholder').classList.add('hidden')
                                    $('.cart-items').classList.remove('hidden')
                                    //add element to html dom
                                    $('#book-choose').innerHTML += `    
                                                <div class="cart-item">
                                                    <input name="idBooks" value="${button.value}" hidden>
                                                    <div class="cover-book">
                                                        <img src="${button.dataset.thumnail}" alt="">
                                                    </div>
                                                    <div class="meta">
                                                        <span class="book-name">${button.dataset.bookname}</span>
                                                        <span class="author">${button.dataset.author}</span>
                                                    </div>
                                                    <a class="remove-item"  id="action-btn">
                                                        <i class="fal fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                             `;
                                    //const checkQuantity = button.dataset.quantity
                                    //console.log(checkQuantity)
                                    //$('.quantity-book-choose').innerHTML = ++quantity;

                                });
                        });

                    });
                });
        }

        searchbook("!all");
        //use fetch api to get data from server https://localhost:5001/Books/SearchApi/content, delay 1s for each text append

        var is_search = true;
        let quantity = 0;
        console.log(url);
        $('#search').addEventListener('keyup',
            function () {
                const content = this.value;
                if (content.length < 1) {
                    //clear html dom
                    //$('#book-search').innerHTML = '';
                    setTimeout(searchbook("!all"),
                        1000);
                }
                setTimeout(searchbook(content),
                    1000);

            });

    </script>
}
