@model Library.Library.Entities.Borrow

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Borrow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateBorrow" class="control-label"></label>
                <input asp-for="DateBorrow" class="form-control" />
                <span asp-validation-for="DateBorrow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <input asp-for="IdUser" class="form-control" />
                <span asp-validation-for="IdUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>          
            <div class="form-group">
                <label asp-for="AmountBorrow" class="control-label"></label>
                <input asp-for="AmountBorrow" class="form-control" />
                <span asp-validation-for="AmountBorrow" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountReturned" class="control-label"></label>
                <input asp-for="AmountReturned" class="form-control" />
                <span asp-validation-for="AmountReturned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCard" class="control-label"></label>
                <select asp-for="IdCard" class="form-control" asp-items="ViewBag.IdCard"></select>
                <span asp-validation-for="IdCard" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
